
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  height: 100%;
  place-items: center;

}
h3{
	font-family: 'Poppins';
}
::selection{
  color: #fff;
  background: #6665ee;
}
.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #ff0000;
  animation: animate 1.8s 1.8s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 60%;
}
.bar .progress-line.jquery span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 50%;
}
.bar .progress-line.mysql span{
  width: 75%;
}

/* CSS Clara */
.bar .progress-line.logo span{
    width: 100%;
}
.bar .progress-line.maquette span{
    width: 100%;
}
.bar .progress-line.cssglobal span{
    width: 100%;
}
.bar .progress-line.formavion span{
    width: 100%;
}
.bar .progress-line.infavion span{
    width: 100%;
}
.bar .progress-line.insertavion span{
    width: 100%;
}


  /* CSS Tom */
.bar .progress-line.tableaudebord span{
    width: 70%;
}
.bar .progress-line.menu span{
    width: 35%;
}
.bar .progress-line.formvol span{
    width: 50%;
}
.bar .progress-line.infvol span{
    width: 35%;
}
.bar .progress-line.fonctions span{
    width: 20%;
}
.bar .progress-line.CClara span{
    width: 35%;
}


    /* CSS Salim */
.bar .progress-line.bdd span{
    width: 85%;
}
.bar .progress-line.formaero span{
    width: 70%;
}
.bar .progress-line.infaero span{
    width: 40%;
}
.bar .progress-line.formpilote span{
    width: 70%;
}
.bar .progress-line.infpilote span{
    width: 65%;
}
.bar .progress-line.mcdmldr span{
    width: 65%;
}





.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "60%";
}
.progress-line.jquery span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "50%";
}
.progress-line.mysql span::after{
  content: "75%";
}

.flexparent {
    display: flex;
    justify-content: space-around;
    width: 1300px;
    background-color: #6665ee;
}

.flex1 {
    margin-right: 10px;
    margin: 20px;
    max-width: 700px
}

.flex2 {
    margin-right: 10px;
    margin: 20px;
    max-width: 700px
}

.flex3 {
    margin-right: 10px;
    margin: 20px;
    max-width: 700px;
}