/* Global reset CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Police */
body {
    font-family: "Poppins", sans-serif;
    position: relative;
    z-index: 99;
}

/* Titres des onglets et dans les pages */

.font-regular-blue {
    color: #050729;
    font-size: 24px;
}

.font-regular-red {
    color: #f00;
    font-size: 24px;
}

.font-regular-white {
    color: white;
    font-size: 18px;
}

.font-regular-grey {
    color: #bbbbbb;
    font-size: 24px;
}

/*Titres en haut des pages*/
.font-regular-blue-28 {
    color: #050729;
    font-size: 28px;
}

/*Titres des catégories du menu*/
.font-regular-blue-20 {
    color: #050729;
    font-size: 20px;
}

/* Pour l'onglet sélectionné dans le menu*/
.font-semibold-blue {
    color: #050729;
    font-weight: 600;
}

/*Texte dans "Projet" sur la page d'accueil*/
.font-regular-blue-16 {
    color: #050729;
    font-size: 16px;
}

/* Reset CSS pour les balises a (balise de lien) */
a {
    text-decoration: none;
    color: #fff;
}

/* Pour toutes les pages formulaire le style pour l'icone */
/* Pour utiliser cette class aller voir le fichier qui se trouve ici --> ./vues/vol.php */
.IconCenter i {
    margin-top: 25px;
    display: block;
    text-align: center;
    font-size: 120px;
    color: #050729;
}

/* Vue que tous les formulaire c'est le même style, je l'ajoute en tant que style global */
/* Ici le style global de tous les formulaire */
/* Voir utilisation dans vues/vol.php */

/* Tout les formulaires doit avoit une div avec cette classe */
.Formulaire {
    border-radius: 20px;
    width: 80%;
    height: auto;
    border: 1px solid #bbbbbb;
    margin: 25px auto 0;
    padding: 40px;
    position: relative;
}

/* Cette classe signifie la petite * en rouge après le label */
/* ::after c'est une pseudo class qui a pour but de r'ajouter du contenu sans r'ajouter du contenu au DOM */
/* Donc juste mettez le label et y'aura automatiquement la petit étoile en rouge */
.Formulaire label::after {
    content: "*";
    color: #f00;
}

/* cette class correspecond au style d'un input vous avez aucun style a faire, juste ajouter un input */
.Formulaire input {
    margin: 10px 0 25px; /* 10 en haut 0 droite et gauche 25 en bas */
    display: block;
    border-radius: 20px;
    outline: none;
    width: 400px;
    border: none;
    height: 55px;
    background-color: #ececec;
    padding: 10px 15px; /* 10 haut / bas | 15 droite / gauche */
    width: 100%;
}

/* Pour avoir deux input sur la même ligne conforme à la maquette vous devez UTILISER cette class dans une div */
/* Sauf que vous A TOUT PRIS mettre un parent (une div) sur les deux labels */
/* Genre comme ça -> https://i.imgur.com/v0A6927.png */
/* Sinon, même vos label seront des flex item et c'est pas ce qu'on veut */
.Formulaire .parent {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
}

.parent > div {
    width: 100%;
}

/* ça vise UNIQUEMENT les inputs de type submit */
.Formulaire .btn-group input[type="submit"] {
    width: 150px;
    margin-right: 15px;
    background-color: #f00;
    color: #fff;
}

/* ça vise UNIQUEMENT les inputs de type reset */
.Formulaire .btn-group input[type="reset"] {
    width: 150px !important;
    margin-right: 15px;
    border: 1px solid #f00;
    background-color: #fff;
    color: #f03;
}

/* Cette classe permet d'aligner le deux boutons sur la même ligne */
.btn-group {
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 25px;
    justify-content: flex-end;
}

/* Vue que tous les tableaux sont les mêmes alors je fais le style global pour tous  */
/* Exemple d'utilisation dans ./pages/vol.php */
/* Vous devez bien respecter cette structure  */
/* Cet à dire entourer les th d'un tr et les td d'un tr */
.tableau {
    margin: 25px auto 0;
    height: auto;
    border-radius: 25px;
}

/* ça vise les th et les td */
.tableau tr th,
td {
    border: 1px solid #bbbbbb;
    border-top-left-radius: 25px;
    color: #050729;
    padding: 15px;
    text-align: center;
}

.tableau tr td {
    color: #0e136b;
}
