/* Global reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Typographie */ 
body {
    font-family: 'Poppins', sans-serif;
}

/* Titre */
.font-regular-blue{
    color: #050729;
    font-size: 26px;
}

/* paragraphe */
.font-semibold-blue{
    color: #050729;
    font-weight: 600;
    font-size: 16px;

}

.font-regular-red{
    color: #f00;
}

.font-regular-white{
    color: white;
}

.font-regular-grey{
    color: #bbbbbb;
}