/* Global reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Police */ 
body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 99;
}

/* Titres des onglets et dans les pages */

.font-regular-blue{
    color: #050729;
    font-size: 24;
}

.font-regular-red{
    color: #f00;
    font-size: 24;
}

.font-regular-white{
    color: white;
    font-size: 18px;
}

.font-regular-grey{
    color: #bbbbbb;
    font-size: 24px;
}

/*Titres en haut des pages*/
.font-regular-blue-28{
    color: #050729;
    font-size: 28px;
}

/*Titres des catégories du menu*/
.font-regular-blue-20{
    color: #050729;
    font-size: 20px;
}

/* Pour l'onglet sélectionné dans le menu*/
.font-semibold-blue{
    color: #050729;
    font-weight: 600;

}

/*Texte dans "Projet" sur la page d'accueil*/
.font-regular-blue-16{
    color: #050729;
    font-size: 16px;
}